body {
  margin: 2%;
  background-color: #0B937C;
}

.containerForTitle {
  width: 100%;
  height: 15%;
  text-align: center;
  color: white;
  border: 1px solid black;
}

.columnForQuestions {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  /*border: 1px solid black;*/
  word-wrap: normal;
  color: white;
}

.columnForSuggestions {
  /*width: 50%;
  height: 100%;*/
  border: 1px solid black;
}

.rowForQuestions {

}

.rowForSuggestions {
  height: 500px;
  text-align: center;
  color: white;
}

#css, #design, #ruby, #rails, #cSharp, #net, #java, #android, #php, #react, #php, #drupal {
  display: none;
}
